<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books List</title>
</head>
<body>
<h1>Books List</h1>
<a th:href="@{/books/create}">Add New Book</a>
<ul>
    <li th:each="book : ${books}">
        <span th:text="${book.name}">Book Name</span>
        by <span th:each="author : ${book.authors}" th:text="${author.name}">Author</span>
        <br>
        Published by <span th:text="${book.publisher}"></span> in <span th:text="${book.publishedYear}"></span>
        <br>
        <a th:href="@{'/books/edit/' + ${book.id}}">Edit</a>
        <a th:href="@{'/books/delete/' + ${book.id}}" onclick="return confirm('Are you sure?');" style="color: red;">Delete</a>
    </li>
</ul>
</body>
</html>
