<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Student Orders</title>
</head>
<body>
<h1>Orders of Student</h1>
<a th:href="@{/dashboard/students}">Back to Students</a>
<table border="1">
  <tr>
    <th>Order ID</th>
    <th>Book</th>
    <th>Order Date</th>
    <th>Return Date</th>
  </tr>
  <tr th:each="order : ${orders}">
    <td th:text="${order.id}"></td>
    <td th:text="${order.book.name}"></td>
    <td th:text="${order.orderDate}"></td>
    <td th:text="${order.returnDate}"></td>
  </tr>
</table>
</body>
</html>
